body{
    background-image: url("3.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top;
  }
  .box{
   box-sizing: content-box;
   
  }
  #bottom{
   width: 100%;
   height: 100%;
   background-color:rgb(44, 40, 40);
  }
  #footer {
color: #ffffff;
font-size: 14px;
background: #464547;
}

#footer .footer-top {
padding: 60px 0 30px 0;
background: #383738;
}

#footer .footer-top .footer-contact {
margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
font-size: 22px;
margin: 0 0 30px 0;
padding: 2px 0 2px 0;
line-height: 1;
font-weight: 700;
}

#footer .footer-top .footer-contact p {
font-size: 14px;
line-height: 24px;
margin-bottom: 0;
font-family: "Raleway", sans-serif;
color: #777777;
}

#footer .footer-top h4 {
font-size: 16px;
font-weight: bold;
color: #444444;
position: relative;
padding-bottom: 12px;
}

#footer .footer-top .footer-links {
margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
list-style: none;
padding: 0;
margin: 0;
}

#footer .footer-top .footer-links ul i {
padding-right: 2px;
color: #00c28e;
font-size: 18px;
line-height: 1;
}

#footer .footer-top .footer-links ul li {
padding: 10px 0;
display: flex;
align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
padding-top: 0;
}

#footer .footer-top .footer-links ul a {
color: #777777;
transition: 0.3s;
display: inline-block;
line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
text-decoration: none;
color: #009970;
}

#footer .footer-newsletter {
font-size: 15px;
}

#footer .footer-newsletter h4 {
font-size: 16px;
font-weight: bold;
color: #444444;
position: relative;
padding-bottom: 12px;
}


#footer .credits {
padding-top: 5px;
font-size: 13px;
color: #444444;
}

#footer .social-links a {
font-size: 18px;
display: inline-block;
background: whitesmoke;
color: darkblue;
line-height: 1;
padding: 8px 0;
margin-right: 4px;
border-radius: 50%;
text-align: center;
width: 36px;
height: 36px;
transition: 0.3s;
}

#footer .social-links a:hover {
background:none;
color: #fff;
text-decoration: none;
}

.info-btn{
color: black;
padding: 5px 10px;
border: 1px solid rgb(241, 165, 23);
background-color:rgb(241, 165, 23);
border-radius:5px;
}

.info-btn:hover{
color: black;
padding: 5px 10px;
border: 1px solid rgb(241, 165, 23);
background-color:orange;
}

.tab-pane p{
color: black;
font-weight: 600;
}